<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Number Puzzles</title>
  <link rel="stylesheet" href="/css/style.css">

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="/javascripts/jquery.js"><\/script>')
/* ]]> */</script>

</head>
<body>

<div id="page">
  <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3>Puzzle Generator</h3>
        <ul class="links">

          <li><a href="/">Generate New Puzzle</a></li>
          <li><a href="/abcd">Download existing puzzles</a> (not yet available)</li>
        </ul>
      </li>

      <li>
        <h3>Browse the documentation</h3>

        <ul class="links">
          <li><a href="/help">Help</a></li>
        </ul>
      </li>
    </ul>

  </div>
  <% content %>
  <div id="footer">
    Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
  </div>
</div>
</body>
</html>
